#	_________ _______  _        _______  _______  _______ 
#	\__   __/(  ____ \( (    /|(  ___  )(  ____ )(  ____ \
#	   ) (   | (    \/|  \  ( || (   ) || (    )|| (    \/
#	   | |   | |      |   \ | || |   | || (____)|| (__    
#	   | |   | | ____ | (\ \) || |   | ||     __)|  __)   
#	   | |   | | \_  )| | \   || |   | || (\ (   | (      
#	___) (___| (___) || )  \  || (___) || ) \ \__| (____/\
#	\_______/(_______)|/    )_)(_______)|/   \__/(_______/
#
# https://www.atlassian.com/git/tutorials/saving-changes/gitignore
#

# Home Directory
.local
.cfg
.cache
.dropbox
.pki
.bash_history
.bash_logout
.ipython
.jupyter
.git-credentials
.gitconfig
.lesshst
.python_history
.viminfo
.Xauthority
Downloads
textbooks/
yay-git

# Directories
projects/
Dropbox/

# Hidden Directories
.gnupg/
.pylint.d/
.npm/
.nv/

# Irrelevant Configs
.config/chromium/
.config/coc/
.config/configstore/
.config/dconf/
.config/discord/
.config/Mailspring/
.config/nitrogen/
.config/pulse/
.config/pavucontrol.ini
.config/Slack/
.config/spicetify/
.config/spotify/

# Other
.config/nvim/autoload/

# Exception
!.local/share/fonts/
